In [1]:
import pandas as pd
import json

In [2]:
# Path to the csv
movie_metadata = "data/movies_metadata.csv"
opening = "data/opening.csv"

# make dataframe from csv
metadata_df = pd.read_csv(movie_metadata, low_memory = False)
metadata_df.head()
opening_df = pd.read_csv(opening)
#opening_df.head()

In [3]:
opening_df = opening_df.drop(columns=['Unnamed: 0'])
opening_df

,Movie Title,Opening,Total Gross,% of Total,Theaters,Average per Theater,Date,Season Number,Release Year,Movie & Year,Season Name
0,Avengers: Endgame,357115007,858373000,41.6%,4662,76601,2019-04-26,2,2019,Avengers: Endgame (2019),Spring
1,Avengers: Infinity War,257698183,678815482,38%,4474,57599,2018-04-27,2,2018,Avengers: Infinity War (2018),Spring
2,Star Wars: Episode VII - The Force Awakens,247966675,936662225,26.5%,4134,59982,2015-12-18,1,2015,Star Wars: Episode VII - The Force Awakens (2015),Winter
3,Star Wars: Episode VIII - The Last Jedi,220009584,620181382,35.5%,4232,51987,2017-12-15,1,2017,Star Wars: Episode VIII - The Last Jedi (2017),Winter
4,Jurassic World,208806270,652270625,32%,4274,48855,2015-06-12,3,2015,Jurassic World (2015),Summer
...,...,...,...,...,...,...,...,...,...,...,...
995,Ouija,19875995,50856010,39.1%,2858,6954,2014-10-24,4,2014,Ouija (2014),Fall
996,Kick-Ass,19828687,48071303,41.2%,3065,6469,2010-04-16,2,2010,Kick-Ass (2010),Spring
997,The Unborn,19810585,42670410,46.4%,2357,8405,2009-01-09,1,2009,The Unborn (2009),Winter
998,The Cable Guy,19806226,60240295,32.9%,2657,7454,1996-06-14,3,1996,The Cable Guy (1996),Summer
999,Spawn,19738749,54870175,36%,2536,7783,1997-08-01,3,1997,Spawn (1997),Summer

In [4]:
# convert release_date to datetime
metadata_df['release_date'] = pd.to_datetime(metadata_df['release_date'], errors='coerce')
metadata_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
# add column with year only
year = metadata_df['release_date'].dt.year
metadata_df['Release Year'] = year
metadata_df = metadata_df.fillna(0)
metadata_df['Release Year'] = metadata_df['Release Year'].astype(int)

metadata_df.head()
metadata_df.shape

(45466, 25)

In [6]:
# add column with movie title and release year
metadata_df["Movie & Year"] = metadata_df["title"].astype(str) + " " + "(" + metadata_df["Release Year"].astype(str) + ")"
metadata_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Release Year,Movie & Year
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Toy Story,False,7.7,5415.0,1995,Toy Story (1995)
1,FALSE,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",0,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,Jumanji (1995)
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995,Grumpier Old Men (1995)
3,FALSE,0,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",0,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995,Waiting to Exhale (1995)
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",0,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995,Father of the Bride Part II (1995)

In [7]:
#dropping unecessarry columns
metadata_df = metadata_df.drop(columns = ['adult', 'belongs_to_collection', 'homepage', 'overview', 'tagline', 'poster_path'])
metadata_df

,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count,Release Year,Movie & Year
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30 00:00:00,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,False,7.7,5415.0,1995,Toy Story (1995)
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15 00:00:00,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,False,6.9,2413.0,1995,Jumanji (1995)
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22 00:00:00,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,False,6.5,92.0,1995,Grumpier Old Men (1995)
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22 00:00:00,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,False,6.1,34.0,1995,Waiting to Exhale (1995)
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10 00:00:00,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,False,5.7,173.0,1995,Father of the Bride Part II (1995)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,tt6209470,fa,رگ خواب,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",0,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Subdue,False,4.0,1.0,0,Subdue (0)
45462,0,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17 00:00:00,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,Century of Birthing,False,9.0,3.0,2011,Century of Birthing (2011)
45463,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,tt0303758,en,Betrayal,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01 00:00:00,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Betrayal,False,3.8,6.0,2003,Betrayal (2003)
45464,0,[],227506,tt0008536,en,Satana likuyushchiy,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21 00:00:00,0.0,87.0,[],Released,Satan Triumphant,False,0.0,0.0,1917,Satan Triumphant (1917)
45465,0,[],461257,tt6980792,en,Queerama,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09 00:00:00,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Queerama,False,0.0,0.0,2017,Queerama (2017)

In [8]:
metadata_df = pd.merge(opening_df, metadata_df, on="Movie & Year", how="right")
metadata_df.head()

,Movie Title,Opening,Total Gross,% of Total,Theaters,Average per Theater,Date,Season Number,Release Year_x,Movie & Year,...,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count,Release Year_y
0,Jurassic World,208806270.0,652270625.0,32%,4274.0,48855.0,2015-06-12,3.0,2015.0,Jurassic World (2015),...,2015-06-09 00:00:00,1.513529e+09,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Jurassic World,False,6.5,8842.0,2015
1,The Avengers,207438708.0,623357910.0,33.3%,4349.0,47698.0,2012-05-04,2.0,2012.0,The Avengers (2012),...,2012-04-25 00:00:00,1.519558e+09,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Avengers,False,7.4,12000.0,2012
2,Avengers: Age of Ultron,191271109.0,459005868.0,41.7%,4276.0,44731.0,2015-05-01,2.0,2015.0,Avengers: Age of Ultron (2015),...,2015-04-22 00:00:00,1.405404e+09,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Avengers: Age of Ultron,False,7.3,6908.0,2015
3,Captain America: Civil War,179139142.0,408084349.0,43.9%,4226.0,42389.0,2016-05-06,2.0,2016.0,Captain America: Civil War (2016),...,2016-04-27 00:00:00,1.153304e+09,147.0,"[{'iso_639_1': 'ro', 'name': 'Română'}, {'iso_...",Released,Captain America: Civil War,False,7.1,7462.0,2016
4,Beauty and the Beast,174750616.0,504014165.0,34.7%,4210.0,41508.0,2017-03-17,2.0,2017.0,Beauty and the Beast (2017),...,2017-03-16 00:00:00,1.262886e+09,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Beauty and the Beast,False,6.8,5530.0,2017

In [9]:
metadata_df.shape

(45466, 30)

In [10]:
metadata_df.to_csv('data/metadata.csv')

In [11]:
genres = metadata_df['genres']
prod_companies = metadata_df['production_companies']

In [12]:
ids = genres.apply(lambda x: [y['id'] for y in json.loads(x.replace("'", '"')) if len(y) > 0])
names = genres.apply(lambda x: [y['name'] for y in json.loads(x.replace("'", '"')) if len(y) > 0])
names

0        [Action, Adventure, Science Fiction, Thriller]
1                  [Science Fiction, Action, Adventure]
2                  [Action, Adventure, Science Fiction]
3                  [Adventure, Action, Science Fiction]
4                            [Family, Fantasy, Romance]
                              ...
45461                                   [Drama, Family]
45462                                           [Drama]
45463                         [Action, Drama, Thriller]
45464                                                []
45465                                                []
Name: genres, Length: 45466, dtype: object

In [13]:
def getFirst(x):
    if len(x) > 0:
        return x[0]
    else:
        return []
    
firstIds = ids.apply(getFirst)
firstNames = names.apply(getFirst)
firstNames

0                 Action
1        Science Fiction
2                 Action
3              Adventure
4                 Family
              ...
45461              Drama
45462              Drama
45463             Action
45464                 []
45465                 []
Name: genres, Length: 45466, dtype: object

In [14]:
# genre_id = []
# genre_name = []
# for x in ids:
#     for i in range(len(dic)):
#         genre_id.append(i)
#         genre_name.append(i)
    
# print(genre_id)
# print(genre_name)

In [15]:
genres[0][0]

'['

In [16]:
metadata_df['Genre Ids'] = firstIds
metadata_df['Genre Names'] = firstNames
metadata_df

,Movie Title,Opening,Total Gross,% of Total,Theaters,Average per Theater,Date,Season Number,Release Year_x,Movie & Year,...,runtime,spoken_languages,status,title,video,vote_average,vote_count,Release Year_y,Genre Ids,Genre Names
0,Jurassic World,208806270.0,652270625.0,32%,4274.0,48855.0,2015-06-12,3.0,2015.0,Jurassic World (2015),...,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Jurassic World,False,6.5,8842.0,2015,28,Action
1,The Avengers,207438708.0,623357910.0,33.3%,4349.0,47698.0,2012-05-04,2.0,2012.0,The Avengers (2012),...,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Avengers,False,7.4,12000.0,2012,878,Science Fiction
2,Avengers: Age of Ultron,191271109.0,459005868.0,41.7%,4276.0,44731.0,2015-05-01,2.0,2015.0,Avengers: Age of Ultron (2015),...,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Avengers: Age of Ultron,False,7.3,6908.0,2015,28,Action
3,Captain America: Civil War,179139142.0,408084349.0,43.9%,4226.0,42389.0,2016-05-06,2.0,2016.0,Captain America: Civil War (2016),...,147.0,"[{'iso_639_1': 'ro', 'name': 'Română'}, {'iso_...",Released,Captain America: Civil War,False,7.1,7462.0,2016,12,Adventure
4,Beauty and the Beast,174750616.0,504014165.0,34.7%,4210.0,41508.0,2017-03-17,2.0,2017.0,Beauty and the Beast (2017),...,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Beauty and the Beast,False,6.8,5530.0,2017,10751,Family
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Subdue (0),...,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Subdue,False,4.0,1.0,0,18,Drama
45462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Century of Birthing (2011),...,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,Century of Birthing,False,9.0,3.0,2011,18,Drama
45463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Betrayal (2003),...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Betrayal,False,3.8,6.0,2003,28,Action
45464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Satan Triumphant (1917),...,87.0,[],Released,Satan Triumphant,False,0.0,0.0,1917,[],[]
45465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Queerama (2017),...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Queerama,False,0.0,0.0,2017,[],[]

In [17]:
metadata_df = metadata_df.loc[(metadata_df["original_language"] == "en")]
metadata_df

,Movie Title,Opening,Total Gross,% of Total,Theaters,Average per Theater,Date,Season Number,Release Year_x,Movie & Year,...,runtime,spoken_languages,status,title,video,vote_average,vote_count,Release Year_y,Genre Ids,Genre Names
0,Jurassic World,208806270.0,652270625.0,32%,4274.0,48855.0,2015-06-12,3.0,2015.0,Jurassic World (2015),...,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Jurassic World,False,6.5,8842.0,2015,28,Action
1,The Avengers,207438708.0,623357910.0,33.3%,4349.0,47698.0,2012-05-04,2.0,2012.0,The Avengers (2012),...,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Avengers,False,7.4,12000.0,2012,878,Science Fiction
2,Avengers: Age of Ultron,191271109.0,459005868.0,41.7%,4276.0,44731.0,2015-05-01,2.0,2015.0,Avengers: Age of Ultron (2015),...,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Avengers: Age of Ultron,False,7.3,6908.0,2015,28,Action
3,Captain America: Civil War,179139142.0,408084349.0,43.9%,4226.0,42389.0,2016-05-06,2.0,2016.0,Captain America: Civil War (2016),...,147.0,"[{'iso_639_1': 'ro', 'name': 'Română'}, {'iso_...",Released,Captain America: Civil War,False,7.1,7462.0,2016,12,Adventure
4,Beauty and the Beast,174750616.0,504014165.0,34.7%,4210.0,41508.0,2017-03-17,2.0,2017.0,Beauty and the Beast (2017),...,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Beauty and the Beast,False,6.8,5530.0,2017,10751,Family
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Caged Heat 3000 (1995),...,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Caged Heat 3000,False,3.5,1.0,1995,878,Science Fiction
45460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robin Hood (1991),...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Robin Hood,False,5.7,26.0,1991,18,Drama
45463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Betrayal (2003),...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Betrayal,False,3.8,6.0,2003,28,Action
45464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Satan Triumphant (1917),...,87.0,[],Released,Satan Triumphant,False,0.0,0.0,1917,[],[]
45465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Queerama (2017),...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Queerama,False,0.0,0.0,2017,[],[]

In [18]:
def idWithTry(x):
    try:
        return [y['id'] for y in json.loads(x.replace("'", '"')) if len(y) > 0]
    except:
        return None
    
def nameWithTry(x):
    try:
        return [y['name'] for y in json.loads(x.replace("'", '"')) if len(y) > 0]
    except:
        return None
        

production_companies = metadata_df["production_companies"]
production_ids = production_companies.apply(idWithTry)
production_names = production_companies.apply(nameWithTry)

# final_prod_ids = production_ids.apply(getFirst)
# final_prod_names = production_names(getFirst)
# final_prod_ids

production_ids = production_ids.dropna()
production_names = production_names.dropna()

In [19]:
company_ids = production_ids.apply(getFirst)
company_names = production_names.apply(getFirst)

In [20]:
new_df = pd.DataFrame({"production_ids": production_ids, "genre ids": firstIds, "production names": production_names})
new_df

,production_ids,genre ids,production names
0,"[13, 56, 923, 3341, 6452]",28,"[Universal Studios, Amblin Entertainment, Lege..."
1,"[4, 420]",878,"[Paramount Pictures, Marvel Studios]"
2,"[420, 15357, 76043]",28,"[Marvel Studios, Prime Focus, Revolution Sun S..."
3,"[264, 420, 3036, 84424, 84425]",12,"[Studio Babelsberg, Marvel Studios, Walt Disne..."
4,"[2, 10227]",10751,"[Walt Disney Pictures, Mandeville Films]"
...,...,...,...
45461,NaN,18,NaN
45462,NaN,18,NaN
45463,[6165],28,[American World Pictures]
45464,[88753],[],[Yermoliev]
45465,[],[],[]

In [21]:
metadata_df['Company Ids'] = company_ids
metadata_df['Company Names'] = company_names
metadata_df

C:\Users\richmonl\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\richmonl\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Movie Title,Opening,Total Gross,% of Total,Theaters,Average per Theater,Date,Season Number,Release Year_x,Movie & Year,...,status,title,video,vote_average,vote_count,Release Year_y,Genre Ids,Genre Names,Company Ids,Company Names
0,Jurassic World,208806270.0,652270625.0,32%,4274.0,48855.0,2015-06-12,3.0,2015.0,Jurassic World (2015),...,Released,Jurassic World,False,6.5,8842.0,2015,28,Action,13,Universal Studios
1,The Avengers,207438708.0,623357910.0,33.3%,4349.0,47698.0,2012-05-04,2.0,2012.0,The Avengers (2012),...,Released,The Avengers,False,7.4,12000.0,2012,878,Science Fiction,4,Paramount Pictures
2,Avengers: Age of Ultron,191271109.0,459005868.0,41.7%,4276.0,44731.0,2015-05-01,2.0,2015.0,Avengers: Age of Ultron (2015),...,Released,Avengers: Age of Ultron,False,7.3,6908.0,2015,28,Action,420,Marvel Studios
3,Captain America: Civil War,179139142.0,408084349.0,43.9%,4226.0,42389.0,2016-05-06,2.0,2016.0,Captain America: Civil War (2016),...,Released,Captain America: Civil War,False,7.1,7462.0,2016,12,Adventure,264,Studio Babelsberg
4,Beauty and the Beast,174750616.0,504014165.0,34.7%,4210.0,41508.0,2017-03-17,2.0,2017.0,Beauty and the Beast (2017),...,Released,Beauty and the Beast,False,6.8,5530.0,2017,10751,Family,2,Walt Disney Pictures
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Caged Heat 3000 (1995),...,Released,Caged Heat 3000,False,3.5,1.0,1995,878,Science Fiction,4688,Concorde-New Horizons
45460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robin Hood (1991),...,Released,Robin Hood,False,5.7,26.0,1991,18,Drama,7025,Westdeutscher Rundfunk (WDR)
45463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Betrayal (2003),...,Released,Betrayal,False,3.8,6.0,2003,28,Action,6165,American World Pictures
45464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Satan Triumphant (1917),...,Released,Satan Triumphant,False,0.0,0.0,1917,[],[],88753,Yermoliev
45465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Queerama (2017),...,Released,Queerama,False,0.0,0.0,2017,[],[],[],[]

In [22]:
metadata_df = metadata_df.drop(columns=['spoken_languages', 'Release Year_y', 'status', 'video'])
metadata_df = metadata_df.rename(columns={'Release Year_x': 'Release Year'})
metadata_df.head()

,Movie Title,Opening,Total Gross,% of Total,Theaters,Average per Theater,Date,Season Number,Release Year,Movie & Year,...,release_date,revenue,runtime,title,vote_average,vote_count,Genre Ids,Genre Names,Company Ids,Company Names
0,Jurassic World,208806270.0,652270625.0,32%,4274.0,48855.0,2015-06-12,3.0,2015.0,Jurassic World (2015),...,2015-06-09 00:00:00,1.513529e+09,124.0,Jurassic World,6.5,8842.0,28,Action,13,Universal Studios
1,The Avengers,207438708.0,623357910.0,33.3%,4349.0,47698.0,2012-05-04,2.0,2012.0,The Avengers (2012),...,2012-04-25 00:00:00,1.519558e+09,143.0,The Avengers,7.4,12000.0,878,Science Fiction,4,Paramount Pictures
2,Avengers: Age of Ultron,191271109.0,459005868.0,41.7%,4276.0,44731.0,2015-05-01,2.0,2015.0,Avengers: Age of Ultron (2015),...,2015-04-22 00:00:00,1.405404e+09,141.0,Avengers: Age of Ultron,7.3,6908.0,28,Action,420,Marvel Studios
3,Captain America: Civil War,179139142.0,408084349.0,43.9%,4226.0,42389.0,2016-05-06,2.0,2016.0,Captain America: Civil War (2016),...,2016-04-27 00:00:00,1.153304e+09,147.0,Captain America: Civil War,7.1,7462.0,12,Adventure,264,Studio Babelsberg
4,Beauty and the Beast,174750616.0,504014165.0,34.7%,4210.0,41508.0,2017-03-17,2.0,2017.0,Beauty and the Beast (2017),...,2017-03-16 00:00:00,1.262886e+09,129.0,Beauty and the Beast,6.8,5530.0,10751,Family,2,Walt Disney Pictures

In [23]:
metadata_df.shape

(32269, 30)

In [24]:
metadata_df = metadata_df.dropna(subset=['Season Name'])
metadata_df = metadata_df.dropna(subset=['budget'])
metadata_df = metadata_df.dropna(subset=['revenue'])

metadata_df

,Movie Title,Opening,Total Gross,% of Total,Theaters,Average per Theater,Date,Season Number,Release Year,Movie & Year,...,release_date,revenue,runtime,title,vote_average,vote_count,Genre Ids,Genre Names,Company Ids,Company Names
0,Jurassic World,208806270.0,652270625.0,32%,4274.0,48855.0,2015-06-12,3.0,2015.0,Jurassic World (2015),...,2015-06-09 00:00:00,1.513529e+09,124.0,Jurassic World,6.5,8842.0,28,Action,13,Universal Studios
1,The Avengers,207438708.0,623357910.0,33.3%,4349.0,47698.0,2012-05-04,2.0,2012.0,The Avengers (2012),...,2012-04-25 00:00:00,1.519558e+09,143.0,The Avengers,7.4,12000.0,878,Science Fiction,4,Paramount Pictures
2,Avengers: Age of Ultron,191271109.0,459005868.0,41.7%,4276.0,44731.0,2015-05-01,2.0,2015.0,Avengers: Age of Ultron (2015),...,2015-04-22 00:00:00,1.405404e+09,141.0,Avengers: Age of Ultron,7.3,6908.0,28,Action,420,Marvel Studios
3,Captain America: Civil War,179139142.0,408084349.0,43.9%,4226.0,42389.0,2016-05-06,2.0,2016.0,Captain America: Civil War (2016),...,2016-04-27 00:00:00,1.153304e+09,147.0,Captain America: Civil War,7.1,7462.0,12,Adventure,264,Studio Babelsberg
4,Beauty and the Beast,174750616.0,504014165.0,34.7%,4210.0,41508.0,2017-03-17,2.0,2017.0,Beauty and the Beast (2017),...,2017-03-16 00:00:00,1.262886e+09,129.0,Beauty and the Beast,6.8,5530.0,10751,Family,2,Walt Disney Pictures
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844,Ouija,19875995.0,50856010.0,39.1%,2858.0,6954.0,2014-10-24,4.0,2014.0,Ouija (2014),...,2014-10-24 00:00:00,1.035903e+08,89.0,Ouija,4.9,1006.0,27,Horror,33,Universal Pictures
845,Kick-Ass,19828687.0,48071303.0,41.2%,3065.0,6469.0,2010-04-16,2.0,2010.0,Kick-Ass (2010),...,2010-03-22 00:00:00,9.618890e+07,117.0,Kick-Ass,7.1,4747.0,28,Action,1632,Lionsgate
846,The Unborn,19810585.0,42670410.0,46.4%,2357.0,8405.0,2009-01-09,1.0,2009.0,The Unborn (2009),...,2009-01-09 00:00:00,7.651405e+07,87.0,The Unborn,4.8,373.0,27,Horror,134,Rogue Pictures
847,The Cable Guy,19806226.0,60240295.0,32.9%,2657.0,7454.0,1996-06-14,3.0,1996.0,The Cable Guy (1996),...,1996-06-10 00:00:00,1.028258e+08,96.0,The Cable Guy,5.7,603.0,35,Comedy,441,Columbia Pictures Corporation
848,Spawn,19738749.0,54870175.0,36%,2536.0,7783.0,1997-08-01,3.0,1997.0,Spawn (1997),...,1997-07-31 00:00:00,8.784004e+07,96.0,Spawn,5.0,344.0,28,Action,12,New Line Cinema

In [25]:
metadata_df.shape

(846, 30)

In [26]:
df_filtered = metadata_df[metadata_df['revenue'] > 0 ]

In [27]:
df_filtered.shape

(826, 30)

In [31]:
pd.to_numeric(df_filtered['budget'])

0      150000000
1      220000000
2      280000000
3      250000000
4      160000000
         ...
844      5000000
845     28000000
846     16000000
847     47000000
848     40000000
Name: budget, Length: 826, dtype: int64

In [32]:
df_filtered.dtypes

Movie Title              object
Opening                 float64
Total Gross             float64
% of Total               object
Theaters                float64
Average per Theater     float64
Date                     object
Season Number           float64
Release Year            float64
Movie & Year             object
Season Name              object
budget                   object
genres                   object
id                       object
imdb_id                  object
original_language        object
original_title           object
popularity               object
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
title                    object
vote_average            float64
vote_count              float64
Genre Ids                object
Genre Names              object
Company Ids              object
Company Names            object
dtype: object

In [45]:
df_filtered["budget2"]=df_filtered['budget'].astype('float64')

C:\Users\richmonl\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
df_filtered.dtypes

Movie Title              object
Opening                 float64
Total Gross             float64
% of Total               object
Theaters                float64
Average per Theater     float64
Date                     object
Season Number           float64
Release Year            float64
Movie & Year             object
Season Name              object
budget                   object
genres                   object
id                       object
imdb_id                  object
original_language        object
original_title           object
popularity               object
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
title                    object
vote_average            float64
vote_count              float64
Genre Ids                object
Genre Names              object
Company Ids              object
Company Names            object
budget2                 float64
dtype: object

In [47]:
df_filtered2 = df_filtered[df_filtered["budget2"] > 0 ]

In [48]:
df_filtered2.shape

(818, 31)

In [51]:
df_filtered2.to_csv('data/final_movies2.csv')

In [ ]:
metadata_df.to_csv('data/final_movies.csv')